/* Start Variables */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}


/* End Variables */


/* Start Global Rules  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
a {
  text-decoration: none;
}
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
  }
  ::-webkit-scrollbar {
    width: 8px; /* vertical */
    height: 8px; /* horizontal */
  }

  ::-webkit-scrollbar-track {

    background: var(--section-background);
    border-radius: 100vw;
    margin-block: 0.5em;
  }

  ::-webkit-scrollbar-thumb {
    background:var(--main-color);
    border: 0.5px solid var(--section-background);
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background:var(--main-color-alt);
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 786px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  

/* Start special-heading */
.special-heading {
  position: relative;
  z-index: 99;
 text-transform: uppercase;
 text-align: center;
 width: fit-content; 
 margin: 0 auto 80px;
 padding: 10px 15px;
 border: 2px solid black;
 transition: var(--main-transition);


}

 .special-heading::after,
 .special-heading::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  transform: translateY(-50%);
  top: 50%;
  border-radius: 50%;
  background-color: var(--main-color);
}

 .special-heading::after {
  right:-30px;
}
 .special-heading::before  {
  left: -30px;
}
 .special-heading:hover {
  color: white;
  border-color:white;
   
}
 .special-heading:hover::before {
  animation: circel-left 0.5s linear forwards;
}
 .special-heading:hover::after {
  animation: circel-right 0.5s linear forwards;
}

  /* End special-heading */

  /* End Global Rules */

  /* Start Header */
  header {
    position: relative;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;

  }
  header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo a {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: -1px;
  }
  header .container > ul {
    display: flex;
    
  }

  header .container > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    text-transform: capitalize;
    padding: 0 30px;
    font-size: 18px;
    transition: var(--main-transition);

  }
  header .container > ul > li a::before {
    content: "";
    position: absolute;
    width:0%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    transition: var(--main-transition);
  }
  header .container > ul > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
  }
  header .container > ul >  li >  a:hover::before {
    width: 100%;
  }
  @media (max-width:767px) {
 
    header .container {
      flex-direction: column;
    }
    header .container .logo {
     padding: 10px 0px;
      flex: 1;
    }
    header .container > ul > li > a{
      flex: 1;
      height: fit-content;
      padding: 10px;
      font-size: 1rem;
     
    }
  }

  header .container .megamenu {
   position: absolute;
   top: calc(100% + 30px);
   left: 0;
   z-index: -1;
   display: flex;
   opacity: 0;
   width: 100%;
   background-color:white;
   padding: 30px;
   border-bottom: 3px solid var(--main-color);
   gap: 40px;
   transition: top var(--main-transition) , opacity var(--main-transition);
   
  }
  header .container > ul > li:last-child:hover > .megamenu {
    top: calc(100% + 1px);
    opacity: 1;
    z-index: 99;

}
  header .container .megamenu .links {
    flex: 1;
  }
  header .container .megamenu .links li {
  padding: 15px;
  position: relative;
  width: 100%;


  }
  header .container .megamenu .links li::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0px;
    height: 100%;
    background-color: #fafafa;
    top: 0;
    left: 0;
    transition:all var(--main-transition);
  }
  header .container .megamenu .links li:hover::before {
    width: 100%;
 
  }
  header .container .megamenu .links li:not(:last-child) {
    border-bottom: 1px solid var(--section-background);
  }
  header .container .megamenu .links li a{
   color: var(--main-color);
   font-weight: bold;
   font-size: 18px;
  
  }
  header .container .megamenu .links li a svg {
    padding-right:10px;
  }
  @media (max-width:991px) {
    header .container .megamenu .image {
      display: none;
    }
    
  }
  @media (max-width:767px) {
    header .container .megamenu {
      flex-direction: column;
      gap: 0;
      padding: 0 5px ;
    }
    header .container .megamenu .links li {
   border-bottom: 1px solid var(--section-background);
    }
    header .container .megamenu .links:last-child li:last-child {
      border: none;
    } 
  }
  /* End Header */

  /* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  background-color:var(--section-background);
  transform: skewY(-6deg);
  transform-origin: center left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
  
}

.landing .container .text h1 {
font-size: 40px;
margin: 0;
letter-spacing: -2px;
}
.landing .container .text p {
  font-size: 23px;
  max-width: 500px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  
}
.landing .container .image img {
  animation: up-down-image 5s linear infinite;
  width: 600px;
 
  
}
@media (max-width:991px) {
  .landing .container {
    grid-template-columns: auto;
  }
  .landing .container .text h1 {
    font-size: 28px;
  }
  .landing .container .text p {
    font-size: 18px;
    
  }
  .landing .container .text h1 ,  .landing .container .text p {
    text-align: center;
  }
.landing .container .image {
  display: none;
}
}

.landing .container svg {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 0px;
  color: var(--main-color);
  font-weight: 900;
  animation: arrow-animation 1.3s linear infinite;
 
 
}

  /* End Landing */

  /* Start Articles */
  .articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
  }
  
  .articles .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 40px;
  }
  .articles .container .cards .card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    transition: box-shadow var(--main-transition) , transform var(--main-transition);
  }
  .articles .container .cards .card:hover {
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
     transform: translateY(-10px) ;
  }
  .articles .container .cards .card .image img {
    width: 100%;
  }
  .articles .container .cards .card .text {
    padding: 10px 20px;
    border-bottom: 0.5px solid #e6e6e7;
  }
  .articles .container .cards .card .text h3 {
   margin: 10px  0;
  }
  .articles .container .cards .card .text p {
    line-height: 1.5;
    color: #777;
    margin: 10px 0;
  }
  .articles .container .cards .card .footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .articles .container .cards .card .footer span {
    text-transform: capitalize;
    color: var(--main-color);
    font-weight: bold;
  }
  .articles .container .cards .card .footer svg {
    color: var(--main-color);
  }
  .articles .container .cards .card:hover > .footer svg {
    animation: arrow-left-right 0.5s linear infinite;
  }
  /* End Articles */
 

  /* Start Gallery  */
   .gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
  
   }
   .gallery .boxes {
    display: grid;
    justify-content: center;
    gap:30px; 
   }
   @media (min-width:1200px) {
    .gallery .boxes {
      grid-template-columns: repeat(3, 350px);
    }
   }
   @media (max-width:1199px) {
    .gallery .boxes {
      grid-template-columns: repeat(2,minmax(300px ,1fr));
    }
   }
 
   .gallery .boxes .box {
    background-color: white;
    padding: 20px;
    overflow: hidden;
   }
   .gallery .boxes .image {
    overflow: hidden;
    width: 100%;
    position: relative;
   }
   .gallery .boxes img {
    width: 100%;
    transition: transform var(--main-transition);
   }
   .gallery .boxes .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    left: 0;
    top: 0;
    z-index: 99;
    transform: scale(0);
    opacity: 0;
   }
   .gallery .boxes .box .image:hover img {
    transform: rotate(5deg) scale(1.2);
   }

    .gallery .boxes .box .image:hover::before {
     animation: flashing 0.7s;
   }
 

  /* End Gallery */

/* Start Features */

.features {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}

.features .container .box  {
  border: 1px solid #e6e6e7;
 

}
.features .container .box  .image {
  position: relative;
  overflow: hidden;
}


.features .container .box .image::after {
  content: "";
  position: absolute;
  z-index: 99;
  bottom:0 ;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition:  var(--main-transition);


}
.features .container .box:hover .image::after {
  border-width: 170px 500px 170px 0;
}

.features .container .box .image::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;

}
.features .container .box:first-child .image::before  {
  background-color: rgb(244 64 54 / 60%);
 }
 .features .container .box:nth-child(2) .image::before {
  background-color: rgb(0 150 136 / 60%);
 }
 .features .container .box:last-child  .image::before{
  background-color: rgb(3 169 244 / 60%);
 }
.features .container .box img {
  width: 100%;
}

.features .container .box .text  {
text-align: center;
padding: 0 20px;
}
.features .container .box .text h1 {
  font-size: 40px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 0;
}
.features .container .box .text h1::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
  border: 3px solid;
}
.features .container .box:first-child .text h1::after {
 border-color: #e73d33;
}
.features .container .box:nth-child(2) .text h1::after {
border-color: #009688;
}
.features .container .box:last-child .text h1::after {
border-color: #03a9f4;
}
.features .container .box .text p {
  line-height: 1.8;
  color: #777;
  padding: 30px 0 10px;
  font-size: 20px;
}
.features .container .box .text .button {
  margin:35px auto;
  width: fit-content;
  position: relative;
  z-index: 99;
 border-radius: 5px;
 background-color: transparent;
 font-size: 22px;
 font-weight: bold;
 padding: 10px 30px;
 border: 3px solid;
}
.features .container .box:first-child .text .button  {
  border-color: #e73d33;
}
.features .container .box:first-child .text .button a {
  color: #e73d33;
}


.features .container .box:nth-child(2) .text .button   {
  border-color:#009688;
}
.features .container .box:nth-child(2) .text .button a  {
  color: #009688 ;
}


.features .container .box:last-child .text .button  {
  border-color:#03a9f4;
}
.features .container .box:last-child .text .button a  {
  color: #03a9f4 ;
}


.features .container .box:hover .text .button a  {
  color: white;
}
.features .container .box .text .button a::before {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  transition: width var(--main-transition);
  position: absolute;
  width:0;
  height: 100%;
} 
.features .container .box:first-child .text .button a::before {
  background-color: #e73d33;
}
.features .container .box:nth-child(2) .text .button a::before {
  background-color: #009688;
}
.features .container .box:last-child .text .button a::before {
  background-color: #03a9f4;
}
.features .container .box:hover .text .button a::before {
  width: 100%;


}
/* End Features */


/* Start testimonials */

.testimonials {
  background-color: var(--section-background);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}


.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}

.testimonials .container .box {
  position: relative;
  background-color: white;
  padding:20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.testimonials .container .box::after {
content: "";
position:absolute;
z-index: 99;
background-size: contain;
width: 80px;
height: 80px;
border-radius: 50%;
border: 10px solid var(--section-background);
top: -50px;
right: -10px;
}
.testimonials .container .box:first-child:after {
  background-image: url("../images/avatar-01.png");
}
.testimonials .container .box:nth-child(2)::after {
  background-image: url("../images/avatar-02.png");
}
.testimonials .container .box:nth-child(3):after
{
  background-image: url("../images/avatar-03.png");
}
.testimonials .container .box:nth-child(4):after {
  background-image: url("../images/avatar-04.png");
}
.testimonials .container .box:nth-child(5):after{
  background-image: url("../images/avatar-05.png");
}
.testimonials .container .box:last-child:after{
background-image: url("../images/avatar-06.png");
}

.testimonials .container .box h3 {
  margin: 0 0 10px;
}
.testimonials .container .box h3 + p {
  color: #777;
  margin:0 0 10px;
  text-transform: capitalize;
}


.testimonials .container .box:first-child .stars svg:not(:last-child) ,
.testimonials .container .box:nth-child(2) .stars svg:not(:last-child),
.testimonials .container .box:nth-child(3) .stars svg:not(:last-child),
.testimonials .container .box:nth-child(4) .stars svg,
.testimonials .container .box:nth-child(5) .stars svg:not(:last-child, :nth-child(4)),
.testimonials .container .box:nth-child(6) .stars svg:not(:last-child, :nth-child(4))
{
  color: #ffc107;
}

.testimonials .container .box p:last-child {
  line-height: 1.5;
  color: #777;
  margin-top: 12px;
  margin-bottom: 0; 
}
/* End testimonials */
  

/* Start Team Members */


.team-members {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;

}
.team-members .container  .box {
  padding-top:60px ;
  position: relative;
  z-index: 99;
  overflow: hidden;
  display: grid;
  grid-template-columns:1fr 60px ;
}
.team-members .container .box::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  width: 80%;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--section-background);
}
.team-members .container  .box::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  z-index: 1;
  height: 100%;
  /* width: 80%; */
  top: 0;
  right: -100%;
  right: 0;
  background-color: #fafafa;
  transition: width var(--main-transition);

}
.team-members .container  .box:hover::after {
 width: 80%;
}
.team-members .container  .box .social-media{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}
.team-members .container  .box .social-media svg {
  cursor: pointer;
  color: #777;
  transition: var(--main-transition);
}
.team-members .container  .box .social-media svg:hover {
  color: var(--main-color);
}

.team-members .container  .box .image {
  border-radius: 15px;
  overflow: hidden;
  width: fit-content;
}
.team-members .container  .box .image img{
  width: 100%;
}
.team-members .container  .box .text {
padding-left:30% ;
padding-top:20px;
padding-bottom: 20px;

}
.team-members .container  .box .text h2 {
  color: var(--main-color);
  margin: 0;
}
.team-members .container  .box .text p {
  margin: 0;
  padding-top: 10px;
}

/* End TeamMembers */


  
/* Start Animation */

@keyframes flashing {

  0%,40% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
    }
}
@keyframes arrow-left-right {
  0%,100% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(10px);
  }
}




@keyframes up-down-image {
  0%,100%{
  transform: translateY(0px);
  }
  50%{
    transform: translateY(-50px);
  }
  
}


@keyframes arrow-animation {
15% {
  bottom: 20px;
}
30% {
   bottom: 0px;
}
45% {
  bottom: 20px;
}
60% {
   bottom: 0px;
}
100% {
   bottom: 0px;
}
}

@keyframes circel-left {

  50% {
    left: 0;
    width: 13px;
    height: 13px;
  }
  100% {
    left: 0;
    z-index: -1;
    border-radius: 0;
    width: 55%;
    height: 100%;
  }
}

@keyframes circel-right {
50% {
  right: 0;
  width: 13px;
  height: 13px;
}
100% {
  right: 0;
  z-index: -1;
  border-radius: 0;
  width: 55%;
  height: 100%;
}
}
/* End Animation */